Attract=ff/videos/Lula_FF_Attract_720.mov
Scoreboard movie=ff/videos/Scoreboard_lulaFF_1280x720.mov
Scoreboard static=ff/videos/Scoreboard_static.png
Scoreboard font=ff/fonts/Serpentine-Bold-Bold.ttf
Scoreboard leader position=640/1280 290/720
Scoreboard down position=640/1280 372/720
Scoreboard total position=640/1280 447/720
Scoreboard leader text size=1280/25 720/25
Scoreboard down text size=1280/25 720/25
Scoreboard start text size=1280/25 720/25
Scoreboard Start time=3500
Scoreboard End time=7500
card swipe enable=13579
down 1=ff/videos/Intro_First_down.f4v
down 2=ff/videos/SECOND DOWN_with VO.mp4
down 3=ff/videos/THIRD DOWN_with VO.mp4
down 4=ff/videos/FOURTH DOWN_with VO.mp4

Grid Background=ff/grid_background.jpg
Grid Foreground=ff/grid-composite.png
Grid Offset XY=30/1280 16/720
Grid Cell Size=152/1280 172/720

#database=prize.db

Prize Image for value 0=ff/freebeer.png
Prize Image for value 25=ff/25.png
Prize Image for value 50=ff/50.png
Prize Image for value 75=ff/75.png
Prize Image for value 100=ff/100.png
Prize Image for value 250=ff/250.png
Prize Image for value 500=ff/500.png
Prize Image for value 1000=ff/1000.png

total games=200
Use Grid Prize Lines=yes
Prize Line 1 count = 340
Prize Line 1 Picks = 4
Prize Line 1 Down 1=50
Prize Line 1 Down 2=50
Prize Line 1 Down 3=25
Prize Line 1 Down 4=100
Prize Line 2 count = 170
Prize Line 2 Picks = 4
Prize Line 2 Down 1=50
Prize Line 2 Down 2=100
Prize Line 2 Down 3=50
Prize Line 2 Down 4=50
Prize Line 3 count = 340
Prize Line 3 Picks = 4
Prize Line 3 Down 1=100
Prize Line 3 Down 2=25
Prize Line 3 Down 3=50
Prize Line 3 Down 4=100

Grid Prize =20,75
Grid Prize =4,100
Grid Prize =4,250
Grid Prize =3,500
Grid Prize =1,1000


Helmet Sound =ff/HelmetSound.mp3
Team 1 Helmet        =ff/videos/helmet/ARIZONA.flv
Team 1 Helmet Sticker=ff/videos/helmet/ARIZONA.png
Team 2 Helmet        =ff/videos/helmet/ATLANTA.flv
Team 2 Helmet Sticker=ff/videos/helmet/ATLANTA.png
Team 3 Helmet        =ff/videos/helmet/BALTIMORE.flv
Team 3 Helmet Sticker=ff/videos/helmet/BALTIMORE.png
Team 4 Helmet        =ff/videos/helmet/BUFFALO.flv
Team 4 Helmet Sticker=ff/videos/helmet/BUFFALO.png
Team 5 Helmet        =ff/videos/helmet/CAROLINA.flv
Team 5 Helmet Sticker=ff/videos/helmet/CAROLINA.png
Team 6 Helmet        =ff/videos/helmet/CHICAGO.flv
Team 6 Helmet Sticker=ff/videos/helmet/CHICAGO.png
Team 7 Helmet        =ff/videos/helmet/CINCINNATI.flv
Team 7 Helmet Sticker=ff/videos/helmet/CINCINNATI.png
Team 8 Helmet        =ff/videos/helmet/CLEVELAND.flv
Team 8 Helmet Sticker=ff/videos/helmet/CLEVELAND.png
Team 9 Helmet        =ff/videos/helmet/DALLAS.flv
Team 9 Helmet Sticker=ff/videos/helmet/DALLAS.png
Team 10 Helmet        =ff/videos/helmet/DENVER.flv
Team 10 Helmet Sticker=ff/videos/helmet/DENVER.png
Team 11 Helmet        =ff/videos/helmet/DETROIT.flv
Team 11 Helmet Sticker=ff/videos/helmet/DETROIT.png
Team 12 Helmet        =ff/videos/helmet/GREEN BAY.flv
Team 12 Helmet Sticker=ff/videos/helmet/GREEN BAY.png
Team 13 Helmet        =ff/videos/helmet/HOUSTON.flv
Team 13 Helmet Sticker=ff/videos/helmet/HOUSTON.png
Team 14 Helmet        =ff/videos/helmet/INDIANAPOLIS.flv
Team 14 Helmet Sticker=ff/videos/helmet/INDIANAPOLIS.png
Team 15 Helmet        =ff/videos/helmet/JACKSONVILLE.flv
Team 15 Helmet Sticker=ff/videos/helmet/JACKSONVILLE.png
Team 16 Helmet        =ff/videos/helmet/KANSAS CITY.flv
Team 16 Helmet Sticker=ff/videos/helmet/KANSAS CITY.png
Team 17 Helmet        =ff/videos/helmet/MIAMI.flv
Team 17 Helmet Sticker=ff/videos/helmet/MIAMI.png
Team 18 Helmet        =ff/videos/helmet/MINNESOTA.flv
Team 18 Helmet Sticker=ff/videos/helmet/MINNESOTA.png
Team 19 Helmet        =ff/videos/helmet/NEW ENGLAND.flv
Team 19 Helmet Sticker=ff/videos/helmet/NEW ENGLAND.png
Team 20 Helmet        =ff/videos/helmet/NEW ORLEANS.flv
Team 20 Helmet Sticker=ff/videos/helmet/NEW ORLEANS.png
Team 21 Helmet        =ff/videos/helmet/NEW YORK_G.flv
Team 21 Helmet Sticker=ff/videos/helmet/NEW YORK_G.png
Team 22 Helmet        =ff/videos/helmet/NEW YORK_J.flv
Team 22 Helmet Sticker=ff/videos/helmet/NEW YORK_J.png
Team 23 Helmet        =ff/videos/helmet/OAKLAND.flv
Team 23 Helmet Sticker=ff/videos/helmet/OAKLAND.png
Team 24 Helmet        =ff/videos/helmet/PHILADELPHIA.flv
Team 24 Helmet Sticker=ff/videos/helmet/PHILADELPHIA.png
Team 25 Helmet        =ff/videos/helmet/PITTSBURGH.flv
Team 25 Helmet Sticker=ff/videos/helmet/PITTSBURGH.png
Team 26 Helmet        =ff/videos/helmet/SAN DIEGO.flv
Team 26 Helmet Sticker=ff/videos/helmet/SAN DIEGO.png
Team 27 Helmet        =ff/videos/helmet/SAN FRANCISCO.flv
Team 27 Helmet Sticker=ff/videos/helmet/SAN FRANCISCO.png
Team 28 Helmet        =ff/videos/helmet/SEATTLE.flv
Team 28 Helmet Sticker=ff/videos/helmet/SEATTLE.png
Team 29 Helmet        =ff/videos/helmet/ST LOUIS.flv
Team 29 Helmet Sticker=ff/videos/helmet/ST LOUIS.png
Team 30 Helmet        =ff/videos/helmet/TAMPA BAY.flv
Team 30 Helmet Sticker=ff/videos/helmet/TAMPA BAY.png
Team 31 Helmet        =ff/videos/helmet/TENNESSEE.flv
Team 31 Helmet Sticker=ff/videos/helmet/TENNESSEE.png
Team 32 Helmet        =ff/videos/helmet/WASHINGTON.flv
Team 32 Helmet Sticker=ff/videos/helmet/WASHINGTON.png

