display size is 1024 by 768

# maybe one day specify SDL video driver ?

# if cursors are enabled, then a software surface is created and used
# such that the applications write to a non volitile image, which is then 
# updated and overwritten with the mouse data to the physical device...

# if this is specifed use this as a cursor...
Soft Cursor image fingerdimple.png 
Soft Cursor image alpha 0
# down, up, always, ondown(?), onup(?)
Soft Cursor behave down  
soft cursor hotspot 32,32

touch screen no

#mouse driver ELO
#mouse device /dev/ttyS0

mouse driver PS2
mouse device /devices/input/mouse0

