round button mono shade
round button glare=
round button up=%resources%/images/round_ridge_up.png
round button down=%resources%/images/round_ridge_down.png
round button mask=%resources%/images/round_mask.png

square button mono shade
square button glare=%resources%/images/glare.jpg
square button up=%resources%/images/ridge_up.png
square button down=%resources%/images/ridge_down.png
square button mask=%resources%/images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=C:\\Develop\\build\\vs10\\sack64m\\out\\intershell\\resources\\images\\defaultLens.png
bicolor square button down=C:\\Develop\\build\\vs10\\sack64m\\out\\intershell\\resources\\images\\pressedLens.png
bicolor square button mask=C:\\Develop\\build\\vs10\\sack64m\\out\\intershell\\resources\\images\\colorLayer.png
bicolor square.1 button mono shade
bicolor square.1 button glare=
bicolor square.1 button up=images\\ridge_up.png
bicolor square.1 button down=images\\ridge_down.png
bicolor square.1 button mask=images\\square_mask.png
bicolor square.2 button mono shade
bicolor square.2 button glare=
bicolor square.2 button up=%resources%/images/round_ridge_up.png
bicolor square.2 button down=%resources%/images/round_ridge_down.png
bicolor square.2 button mask=%resources%/images/round_mask.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


font preset Default=[w000kVQj6B1000M8000030000glqJlSswUkpT1ykLRmoK100}
font preset Default.1=[8100bdkigB000000000000000Y1000M8000030000QsPdTc55doTldiP14AsF56r08lpDl7rx970KYypLV6tP.1ioOBmoIV2tQp60}
font preset Label Font Large=[B100bdkigl700000000000000s1000M8000030000QsPdTc55doTldiP1clqJ17rFpmqBh6819noyBSowokqUl6p08lpDl7rx9703F3nnBCrA.1StPNBpLV6tP.1OsFR6sCxTrKg7tC100}

Startup macro element list done

Shutdown macro element list done
Allow Edit? Yes
Allow Multi Run? No
# Begin XML Expirament
# 

page layout 40 by 40
background color $FF230005
#background image 
background color(1) $FF000041
control generic Quit Application at 32,3 sized 5,5
	color=$FFC02020
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Quit
	button is bicolor square
	font name=Default
control done

control generic InterShell/Show Names at 30,9 sized 6,4
	color=$FFCC6007
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Show_Names
	button is bicolor square
	font name=Default
control done

control generic InterShell/Next Theme at 14,18 sized 4,5
	color=$FFCC6007
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Show_Names
	button is bicolor square
	font name=Default
control done

control generic page/Page Changer at 19,19 sized 6,5
	color=$FF008000
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Change_Page
	button is bicolor square
	next page=next
	font name=Default
control done

page titled Page 2
page layout 40 by 40
#background color $0
#background image 
control generic page/Page Changer at 14,21 sized 5,4
	color=$FF008000
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Change_Page
	button is bicolor square
	next page=first
	font name=Default
control done

control generic Text Label at 20,12 sized 10,5
	color=$FFD0D000
	background color=$00000000
	align center?off
	align right?off
	align scroll?off
	align vertical?off
	align inverted?off
	font name=Label Font Large
	label=Text Label Font Test
control done

Canvas Done
