round button mono shade
round button glare=
round button up=%resources%/images/round_ridge_up.png
round button down=%resources%/images/round_ridge_down.png
round button mask=%resources%/images/round_mask.png

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button mono shade
square button glare=%resources%/images/glare.jpg
square button up=%resources%/images/ridge_up.png
square button down=%resources%/images/ridge_down.png
square button mask=%resources%/images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=%resources%/images/defaultLens.png
bicolor square button down=%resources%/images/pressedLens.png
bicolor square button mask=%resources%/images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


<plugin filemask='plugins/*.isp'>
<plugin_load system='*'>
font preset Default=[w000kVQj6B1000M8000030000glqJlSswUkpT1ykLRmoK100}
Startup macro element list done
Shutdown macro element list done


Command Shell
name=Command Shell
path=.
program=cmd.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done




Power Shell
name=Power Shell
path=.
program=%SystemRoot%\\System32\\WindowsPowerShell\\v1.0\\PowerShell.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done




Power Shell ISE
name=Power Shell ISE
path=.
program=%SystemRoot%\\System32\\WindowsPowerShell\\v1.0\\PowerShell_ise.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done




Windows Shell
name=Explorer
path=.
program=explorer.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done


#auto caller task
#  define a standard task here with program=, path=, and optional args=
#  auto caller tasks run when the caller comes up - good time for synctime.


#auto task
#  define a standard task here with program=, path=, and optional args=
#  auto tasks run as soon before the menu displays.


wait for caller? no

# Begin XML Expirament
# 

page layout 40 by 40
background color $03000000
#background image 
control generic Quit POS at 31,32 sized 8,6
color=$FFC02020
secondary color=$FF000000
highlight color=$400000FF
text color=$FFFFFFFF
text=Quit
button is bicolor square
font name=Default
control done

control generic Clock at 32,19 sized 7,6
Clock color=$FFFFFFFF
Clock back color=$00000000
Clock background image=
Clock is analog?No
Clock analog image=images/Clock.png
Clock analog description=[g100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000}
color=$80E9267D
secondary color=$20000000
highlight color=$400000FF
text color=$FFFFFFFF
button is bicolor square
font name=Default
control done

control generic Windows/Set Permashell at 33,6 sized 6,6
color=$CD000000
secondary color=$20000000
highlight color=$4000FF00
text color=$FFC0C0C0
text=Disable_Windows_Shell
button is square
next page=-- NONE --
font name=Default
control done

control generic Windows/Set Windows Shell at 33,12 sized 6,6
color=$99EC9752
secondary color=$20000000
highlight color=$4000FF00
text color=$FFC0C0C0
text=Enable_Windows_Shell
button is square
font name=Default
control done

control generic Task at 2,25 sized 5,3
name=runfar
path=C:\\tools\\startups
program=runfar.bat
args=watcom
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
color=$99E9822F
secondary color=$980000FF
highlight color=$980000FF
text color=$FFFFFFFF
text=runfar
button is bicolor square
font name=Default
control done

control generic Task at 2,19 sized 5,3
name=v7-remount
path=C:\\General
program=v7-remount.bat
launch at 0 by 0
restart No
non-exclusive No
background No
one time Yes
Capture task output?Yes
Force Hide Display?No
security=none
color=$80E9267D
secondary color=$3A0000FF
highlight color=$C800EF00
text color=$FFFFFFFF
text=v7-remount
button is bicolor square
font name=Default
control done

control generic Dekware Console at 1,0 sized 32,14
control done

control generic Task at 2,22 sized 5,3
name=Options
path=c:\\Freedom Collective\\intershell\\bin
program=c:\\Freedom Collective\\intershell\\bin\\EditOptions.exe
launch at 0 by 0
restart No
non-exclusive No
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
color=$80E9267D
secondary color=$20000000
highlight color=$400000FF
text color=$FFFFFFFF
text=Options
button is bicolor square
font name=Default
control done

Canvas Done
