round button mono shade
round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


<plugin filemask='plugins/dekware/dekware.core'>
<plugin_load system='*'>
<plugin filemask='plugins/dekware.isp'>
<plugin_load system='*'>
<plugin filemask='plugins/vplayer.isp'>
<plugin_load system='*'>
<plugin filemask='plugins/tasks.isp'>
<plugin_load system='*'>
font preset ListFont=[h100bdkigh000000000000000Q0000w3000030000000000Ix7UXoPhO1MktzB6px1OgLVSsLNmp08lpDl7rx970KYypLV6tP.12rRdSrKV2tQp60}


#auto caller task
#  define a standard task here with program=, path=, and optional args=
#  auto caller tasks run when the caller comes up - good time for synctime.


#auto task
#  define a standard task here with program=, path=, and optional args=
#  auto tasks run as soon before the menu displays.


wait for caller? no

# Begin XML Expirament
# 

page layout 40 by 40
#background color $0
#background image 
control generic Video Player/Upload at 18,26 sized 7,6
color=$FF008080
secondary color=$FF170006
highlight color=$FF00E300
text color=$FFFBFBFB
text=Save_Playlist
button is bicolor square
next page=-- NONE --
control done

control generic Dekware Console at 24,0 sized 16,9
control done

control generic Video Player/File List at 1,1 sized 16,38
multi select?no lazy?no
color=$FF000080
text color=$FFFFFFFF
button is DEFAULT
font name=ListFont
control done

control generic Video Player/Move File Up at 18,2 sized 5,4
color=$FF000080
text color=$FFFFFFFF
text=File_Up
button is bicolor square
control done

control generic Video Player/Move File Down at 18,7 sized 5,4
color=$FF000080
text color=$FFFFFFFF
text=File_Down
button is bicolor square
control done

control generic Video Player/Toggle File Play at 18,14 sized 5,5
color=$FF008000
text color=$FFFFFFFF
text=Toggle_Play
button is bicolor square
control done

control generic Video PLayer/Select Property at 18,33 sized 5,4
Property ID=0
color=$FF008000
secondary color=$FF000000
highlight color=$FFF1EB19
text color=$FFFFFFFF
text=Select_%<Property 0>
button is bicolor square
control done

control generic Video PLayer/Select Property at 23,33 sized 5,4
Property ID=1
color=$FF008000
secondary color=$FF000000
highlight color=$FFF1EB19
text color=$FFFFFFFF
text=Select_%<Property 1>
button is bicolor square
next page=-- NONE --
control done

control generic Video PLayer/Select Property at 28,33 sized 5,4
Property ID=2
color=$FF008000
secondary color=$FF000000
highlight color=$FFF1EB19
text color=$FFFFFFFF
text=Select_%<Property 2>
button is bicolor square
next page=-- NONE --
control done

control generic Task at 35,34 sized 5,6
name=Quit
path=.
program=pskill
args=vplayer
launch at 0 by 0
restart No
non-exclusive Yes
background Yes
one time No
Capture task output?Yes
security=none
color=$FFF01400
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic Video Player/Accept Files at 29,11 sized 11,12
color=$FF613200
text color=$FFFFFFFF
text=Drop Video_Files Here_To Upload
button is DEFAULT
next page=-- NONE --
control done

control generic Video Player/Delete File at 18,19 sized 5,5
color=$FFF27F00
secondary color=$FF0F0F0F
text color=$FF0F0F0F
text=Delete_File
button is bicolor square
next page=-- NONE --
control done

control generic Video Player/Test at 23,14 sized 5,5
color=$FF008080
secondary color=$FF000000
highlight color=$FF40EA18
text color=$FF000000
text=Test_Playlist
button is bicolor square
next page=-- NONE -- 
control done

Canvas Done
