.hg
*~
[Xx][Xx]
*.orig
err
zz
yy
xx
.hgtags
err
zz
yy
xx
.hgtags
CMakeFiles
build
sack-arch-install/pkg
src/contrib/libressl/*/include/openssl/opensslconf.h
*.zst
*/test_process_create/x64
*/test_process_create/wait/x64
.vs
.obsidian
.vscode
_MTN
amalgamate/
*.o
*.lo
*.a
*.wast
*.wasm
*.so
*.map
sack-arch-install/*/pkg
sack-arch-install/*/src
sack-arch-install/*/*.zst
include/*/*.bak
include/*.bak

