#include <windows.h>
#include "resource.h"

ICO_RELAY ICON "relay.ico"
ICO_RELAY_DOWN ICON "relay_down.ico"
ICO_RELAY_SCAN ICON "relay_scan.ico"


// Checked in by: $Author$
// $Revision$
// $Log$
