images/cards/newdeck/back.png
images/cards/newdeck/Hearts/Lifesize/AH.png
images/cards/newdeck/Hearts/Lifesize/2H.png
images/cards/newdeck/Hearts/Lifesize/3H.png
images/cards/newdeck/Hearts/Lifesize/4H.png
images/cards/newdeck/Hearts/Lifesize/5H.png
images/cards/newdeck/Hearts/Lifesize/6H.png
images/cards/newdeck/Hearts/Lifesize/7H.png
images/cards/newdeck/Hearts/Lifesize/8H.png
images/cards/newdeck/Hearts/Lifesize/9H.png
images/cards/newdeck/Hearts/Lifesize/10H.png
images/cards/newdeck/Hearts/Lifesize/JH.png
images/cards/newdeck/Hearts/Lifesize/QH.png
images/cards/newdeck/Hearts/Lifesize/KH.png
images/cards/newdeck/Clubs/Lifesize/AC.png
images/cards/newdeck/Clubs/Lifesize/2C.png
images/cards/newdeck/Clubs/Lifesize/3C.png
images/cards/newdeck/Clubs/Lifesize/4C.png
images/cards/newdeck/Clubs/Lifesize/5C.png
images/cards/newdeck/Clubs/Lifesize/6C.png
images/cards/newdeck/Clubs/Lifesize/7C.png
images/cards/newdeck/Clubs/Lifesize/8C.png
images/cards/newdeck/Clubs/Lifesize/9C.png
images/cards/newdeck/Clubs/Lifesize/10C.png
images/cards/newdeck/Clubs/Lifesize/JC.png
images/cards/newdeck/Clubs/Lifesize/QC.png
images/cards/newdeck/Clubs/Lifesize/KC.png
images/cards/newdeck/Diamonds/Lifesize/AD.png
images/cards/newdeck/Diamonds/Lifesize/2D.png
images/cards/newdeck/Diamonds/Lifesize/3D.png
images/cards/newdeck/Diamonds/Lifesize/4D.png
images/cards/newdeck/Diamonds/Lifesize/5D.png
images/cards/newdeck/Diamonds/Lifesize/6D.png
images/cards/newdeck/Diamonds/Lifesize/7D.png
images/cards/newdeck/Diamonds/Lifesize/8D.png
images/cards/newdeck/Diamonds/Lifesize/9D.png
images/cards/newdeck/Diamonds/Lifesize/10D.png
images/cards/newdeck/Diamonds/Lifesize/JD.png
images/cards/newdeck/Diamonds/Lifesize/QD.png
images/cards/newdeck/Diamonds/Lifesize/KD.png
images/cards/newdeck/Spades/Lifesize/AS.png
images/cards/newdeck/Spades/Lifesize/2S.png
images/cards/newdeck/Spades/Lifesize/3S.png
images/cards/newdeck/Spades/Lifesize/4S.png
images/cards/newdeck/Spades/Lifesize/5S.png
images/cards/newdeck/Spades/Lifesize/6S.png
images/cards/newdeck/Spades/Lifesize/7S.png
images/cards/newdeck/Spades/Lifesize/8S.png
images/cards/newdeck/Spades/Lifesize/9S.png
images/cards/newdeck/Spades/Lifesize/10S.png
images/cards/newdeck/Spades/Lifesize/JS.png
images/cards/newdeck/Spades/Lifesize/QS.png
images/cards/newdeck/Spades/Lifesize/KS.png
