

task Test1
program test_construct

task Test2
program test_construct
require Test1

task Test3
program test_construct
args fail

task Test4
program test_construct
suggest Test3
args 500 

task Test5
program test_construct

task Test6
program test_construct
require Test5

task Test7
program test_construct
require Test6

task Test8
program test_construct
require test6

task Test9
require Test8
program test_construct


