

# this task is not required - it 
# will be provided by the summoner himself.
#task Message Service
#program msgsvr
#assume ready in 500 milliseconds


task Display Service
#args -e gdb 
#--args display_service
#program dds
program display_service
#require Message Service
assume ready in 2000 milliseconds 

task Scheduler Service
program schedsvr
require Display Service
assume ready in 2000 milliseconds 

task PACKSELL 
program packsell
require Display Service
assume ready in 2000 milliseconds 

task Misc Department
program misc
require Display Service
assume ready in 2000 milliseconds 
args -s 

task Future Logic Printer
program flprint 
require Display Service
assume ready in 2000 milliseconds 
args -s /dev/tty/1

task Player Tracking
program player_tracking 
require Display Service
assume ready in 2000 milliseconds 

task Bard
program bardservice 
require Display Service
assume ready in 2000 milliseconds 

task Bill Acceptor Service
program bamservice
require Display Service
assume ready in 2000 milliseconds 
args -s bam_service

task POS Shell
program posshell
suggest Misc Department
suggest Player Tracking
suggest Bard
suggest Bill Acceptor Service
suggest Future Logic Printer
suggest Scheduler Service
suggest PACKSELL
require Display Service
assume ready in 2000 milliseconds 



