<plugin filemask='plugins/fantasy_football.isp'>
<plugin_load system='*'>
Begin Edit Permissions
font preset Default=[w000kVQj6B1000M8000030000glqJlSswUkpT1ykLRmoK100}

Startup macro element list done

Shutdown macro element list done
round button mono shade
round button glare=
round button up=%resources%/images/round_ridge_up.png
round button down=%resources%/images/round_ridge_down.png
round button mask=%resources%/images/round_mask.png

square button mono shade
square button glare=%resources%/images/glare.jpg
square button up=%resources%/images/ridge_up.png
square button down=%resources%/images/ridge_down.png
square button mask=%resources%/images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=%resources%/images/defaultLens.png
bicolor square button down=%resources%/images/pressedLens.png
bicolor square button mask=%resources%/images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


page layout wide
page layout tall
page layout wide
page layout tall
Allow Edit? Yes
Allow Multi Run? No
# Begin XML Expirament
# 

page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/Attract at 0,0 sized 40,40
control done

page titled two
page layout 40 by 40
background color $8130002C
#background image 
control generic Quit Application at 13,15 sized 6,4
	color=$FFC02020
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Quit
	button is bicolor square
	font name=Default
control done

control generic InterShell/Edit Options at 6,10 sized 4,6
	color=$FFCC6007
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Edit_Options
	button is bicolor square
	font name=Default
control done

control generic page/Page Changer at 25,25 sized 9,5
	color=$FF008000
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Change_Page
	button is bicolor square
	next page=first
	font name=Default
control done

control generic Macro at 5,8 sized 11,9
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	button is bicolor square
	font name=Default
	macro element list done
control done

control generic InterShell/Edit Options at 21,6 sized 11,5
	color=$FFCC6007
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Edit_Options
	button is bicolor square
	font name=Default
control done

control generic Quit Application at 12,8 sized 4,6
	color=$FFC02020
	secondary color=$FF000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Quit
	button is bicolor square
	font name=Default
control done

control generic Macro at 5,8 sized 11,9
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	button is bicolor square
	font name=Default
	macro element list done
control done

control generic Video Player/Console at 23,15 sized 8,7
control done

control generic Fantasy Football/2nd Down at 12,21 sized 6,5
control done

page titled 1st down
page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/1st Down at 0,0 sized 40,40
control done

page titled 2nd down
page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/2nd Down at 0,0 sized 40,40
control done

page titled 3rd down
page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/3rd Down at 0,0 sized 40,40
control done

page titled 4th down
page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/4th Down at 0,0 sized 40,40
control done

page titled Scoreboard
page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/Scoreboard at 0,0 sized 40,40
control done

page titled Game Grid
page layout 40 by 40
#background color $00000000
#background image 
control generic Fantasy Football/Game Grid at 0,0 sized 40,40
control done

Canvas Done
