Option DSN=@/option.db
Option Use New Version=off
Option Use Version 4=on
Primary DSN=sqlite.db
#Primary User=
#Primary Password=
Backup DSN=sqlite2.db
#Backup User=
#Backup Password=
Log enable=No
LogFile enable=No
LogFile enable dump data=No
Log Option Connection=No
Fallback on failure=No
Require Connection=No
Require Primary Connection=Yes
Require Backup Connection=No
