round button mono shade
round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


# Begin XML Expirament
# 

page layout 40 by 40
#background color $0
background image images/misc/sky.jpg
control generic Stress Button 1(Blink) at 7,6 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 14,6 sized 5,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 20,5 sized 5,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 26,5 sized 5,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 0,0 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 6,0 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 12,0 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,12 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 7,12 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 13,12 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 19,12 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,12 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 31,12 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,18 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 7,18 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 13,18 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 19,18 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,18 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 31,18 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,24 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 7,24 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 13,24 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 19,24 sized 6,6
color=$FF000080
text color=$FFFFFFFF
text=%<system name>
button is bicolor square
next page=-- NONE --
control done

Canvas Done
