round button mono shade
round button glare=
round button up=aa
round button down=aa
round button mask=aa

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


# Begin XML Expirament
# 

page layout 40 by 40
#background color $0
#background image 
control generic TestApp/samplelist at 29,10 sized 8,19
multi select?no lazy?yes
color=$FF000080
text color=$FFFFFFFF
button is DEFAULT
control done

control generic Slider at 8,10 sized 2,19
Slider color=$FFFFFFFF
Slider back color=$00000000
Slider background image=
Slider is horizontal?No
Slider is draggable?No
Slider min value=0
Slider max value=100
Slider current value=65
color=$FF000080
text color=$FFFFFFFF
button is DEFAULT
control done

control generic TestApp/button plus at 16,22 sized 7,5
color=$FF000080
text color=$FFFFFFFF
button is round
image=images/plus.png
control done

control generic TestApp/button minus at 16,12 sized 7,5
color=$FF000080
text color=$FFFFFFFF
button is round
image=images/clock_test.png
next page=-- NONE --
control done

Canvas Done
