Option DSN=@/option.db
Option Use New Version=off
Option Use Version 4=on
Primary DSN=oracle
Primary User=emsagame
Primary Password=emsagame01
Backup DSN=
#Backup User=
#Backup Password=
Log enable=No
LogFile enable=yes
LogFile enable dump data=yes
Log Option Connection=No
Fallback on failure=No
Require Connection=No
Require Primary Connection=No
Require Backup Connection=No
