<plugin filemask='lib*.isp.so'>
<plugin_load system='*'>
<plugin filemask='libsqlproxy.isom'>
<plugin_load system='*pos*'>
<plugin filemask='liblegacy_interface.isom'>
<plugin_load system='*pos*'>
<plugin filemask='libsql_password.isom'>
<plugin_load system='*'>
<plugin filemask='libtest_bingocore.isom'>
<plugin_load system='*'>
<plugin filemask='libsc.isom'>
<plugin_load system='*'>
<plugin filemask='libbdata/flashdrive_protocol_slave_client.fplug'>
<plugin_load system='*'>
<plugin filemask='libbarcode_paper.isom'>
<plugin_load system='*'>
<plugin filemask='liboption_service.isom'>
<plugin_load system='*'>
<plugin filemask='libbarcode_paper/*.bplug;@/plugins'>
<plugin_load system='*'>
Begin Edit Permissions
SQL password security=Config Buttons
font preset Default=[r100bdkigF500000000000000Q1000g900003000000000wMkVwS8ylP1glqJlSswUkpT1ykLRmoK1wkBtmtI5Cs0cAestliehQjnd5nC.1CrQdTbQBmrBdDbQhDp0000}
font preset button text=[7100bdkigB000001000000000E2000ga000030000MVufDwMkVwS8ylP14AsF56r08QrIh60KYypLV6tP.1ioOBmoI96pKg7tC100}
font preset clock font=[a100bdkig1200000000000000w20000b000030000g2oLcEMkVwS8ylP1cAsVd7txN609hnoIBSo0UObC.1CrQdTb39nuPhnoKg7tC100}
font preset Slim Tech Button Font=[h100bdkigx300000000000000o1000g4000030000A5oRYLMkVwS8ylP1MktzB6px1OgLVSsLNmp08lpDl7rx970KYypLV6tP.12rRdSrKV2tQp60}
font preset Tiny Button Font=[l100bdkigR60000000000000041000M30000300000000Yf0vxnk8A.1O1QkuOBmoA1OlB968g9Tr08lpDl7rx970KYypLV6tP.1ijV9nqxh6kO.1CbQhDp0000}
font preset versiontracking=[h100bdkigx300000000000000E0000M2000010000QsPdTIMkVwS8ylP1MktzB6px1OgLVSsLNmp08lpDl7rx970KYypLV6tP.12rRdSrKV2tQp60}
file variable input "ver" "@/info/ver.txt"

Startup Macro Element 'Task'
	path=@/../../filemirror
	program=filemirror.exe
	args=-c accounts.bin_mirror.receive -x
	launch at least 1024 by 768
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$00000000
	highlight color=$00000000
	text color=$FFFFFFFF
	text=bin_Mirror\\n%<File ver.1>
	button is bicolor square
	next page=-- NONE --
	font name=Default
Startup macro element done
Startup macro element list done

Shutdown macro element list done


Command Shell
SQL password security=Settings Access
SQL password security=System Access
name=Command Shell
path=c:\\ftn3000\\working
program=cmd
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done




Power Shell
SQL password security=Settings Access
SQL password security=System Access
name=Power Shell
path=.
program=%SystemRoot%\\System32\\WindowsPowerShell\\v1.0\\PowerShell.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done




Power Shell ISE
SQL password security=Settings Access
SQL password security=System Access
name=Power Shell ISE
path=.
program=%SystemRoot%\\System32\\WindowsPowerShell\\v1.0\\PowerShell_ise.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done




Windows Shell
SQL password security=Settings Access
SQL password security=System Access
name=Explorer
path=.
program=explorer.exe
launch at 0 by 0
restart No
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done


auto task
name=lpt_proxy
path=@/../../lpt_proxy
program=lpt_proxy
launch at 0 by 0
restart Yes
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
Run task on *
security=none
Task Done


auto task
name=Bingo Sales
path=c:\\ftn3000\\bincs\\DiscountSales
program=BingoDiscountSales.exe
launch at 0 by 0
restart Yes
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
security=none
Task Done


auto task
name=PTrack
path=@/../../ptrack_proxy
program=ptrack_proxy
launch at 0 by 0
restart Yes
non-exclusive Yes
background No
one time No
Capture task output?No
Force Hide Display?No
Run task on *
security=none
Task Done


#auto caller task
#  define a standard task here with program=, path=, and optional args=
#  auto caller tasks run when the caller comes up - good time for synctime.


wait for caller? no

round button mono shade
round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


Launchpad Interface=0.0.0.0:3007
Launchpad no class=bingo@datacore*
Launchpad class=%COMPUTERNAME%@*
Launchpad class=pos@*
Allow Edit? Yes
Allow Multi Run? No
# Begin XML Expirament
# 

page layout 40 by 40
background color $FF1F0001
#background image 
control generic text label at 0,39 sized 9,1
	color=$FFD5D5D5
	background color=$00000000
	align center?off
	align right?off
	align scroll?off
	align vertical?off
	align inverted?off
	font name=versiontracking
	label=%<File ver.1>
control done

control generic Clock at 31,1 sized 9,7
	Clock color=$FFFFFFFF
	Clock back color=$00000000
	Clock background image=
	Clock is analog?No
	Clock is military time?Yes
	Clock show date?No
	Clock is single line?No
	Clock show day of week?No
	Clock analog image=Clock.png
	Clock analog description=[g100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000}
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	button is DEFAULT
	font name=clock font
control done

control generic Task at 0,26 sized 8,6
	path=@
	program=editusers3.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$32000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Edit_Users
	button is bicolor square
	next page=Utilities
	font name=Default
	Allow show on *mngr*
control done

control generic quit application at 0,35 sized 8,4
	color=$FFC02020
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Restart_Menu
	button is bicolor square
	font name=Default
control done

control generic Task at 0,20 sized 8,6
	path=c:\\ftn3000\\working
	program=menu.exe
	launch at 640 by 480
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF00B800
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=OldMenu
	button is bicolor square
	next page=-- NONE --
	font name=Default
	Allow show on *mngr*
control done

control generic Text Label at 11,1 sized 16,4
	color=$FFAEF5A8
	background color=$00000000
	align center?on
	align right?off
	align scroll?off
	align vertical?off
	align inverted?off
	font name=button text
	label=POS %<posid> on %COMPUTERNAME%
control done

control generic SQL Proxy at 33,37 sized 2,2
control done

control generic page/Page Changer at 25,35 sized 6,4
	color=$6C008000
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Tech_Utilities
	button is bicolor square
	next page=Utilities
	font name=Default
control done

control generic Macro at 13,9 sized 14,13
	SQL password security=Cashier
	SQL password security=Manager
	Macro Element 'Task'
		path=.
		program=pskill
		args=ntvdm
		launch at 0 by 0
		restart No
		non-exclusive No
		background No
		one time No
		Capture task output?Yes
		Force Hide Display?No
		security=none
		color=$FF000080
		secondary color=$00000000
		highlight color=$00000000
		text color=$FFFFFFFF
		text=Kill NVTDM
		button is bicolor square
		font name=Default
	macro element done
	Macro Element 'Task'
		path=c:\\ftn3000\\working
		program=c:\\ftn3000\\bin\\posshell.exe
		launch at 640 by 480
		restart No
		non-exclusive No
		background No
		one time No
		Capture task output?No
		Force Hide Display?No
		security=none
		color=$FF000080
		secondary color=$00000000
		highlight color=$00000000
		text color=$FFFFFFFF
		text=pos
		button is bicolor square
		font name=Default
	macro element done
	macro element list done
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=POS
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 13,5 sized 14,4
	path=c:\\ftn3000\\aims_sl
	program=c:\\ftn3000\\aims_sl\\aims.mdb
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Aims
	button is bicolor square
	next page=-- NONE --
	font name=Default
	Allow show on *aims*
control done

control generic Task at 31,15 sized 9,8
	path=.
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$00000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Fortunet_Technical_Support_(702)796-9890
	button is DEFAULT
	next page=-- NONE --
	font name=Default
control done

control generic Task at 13,22 sized 9,5
	path=c:\\cashball
	program=C:\\Program Files\\Microsoft Office\\OFFICE11\\excel.exe
	args=cashball.xls
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time Yes
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$B549753C
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=CashBall
	button is bicolor square
	font name=Default
	Allow show on *mngr*
control done

control generic Task at 0,1 sized 8,7
	path=c:\\ftn3000\\bincs\\rcptrdr
	program=rcptrdr.exe
	launch at 800 by 600
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Receipt_Reader
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 0,14 sized 8,6
	path=c:\\ftn3000\\bincs\\CSummary
	program=CSummary.exe
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time Yes
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$80FC5F9F
	secondary color=$FFE39200
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Live_Session_Summary
	button is bicolor square
	font name=Default
	Allow show on *mngr*
control done

control generic Test Bingocore at 13,27 sized 9,5
	       color=$FFCC6007
	       secondary color=$FF000000
	       highlight color=$FF00FF00
	       text color=$FFFFFFFF
	       text=Test_BingoCore
	       button is bicolor square
	       next page=-- NONE --
	       font name=Default
	       Allow show on *mngr*
control done

control generic Restart Bingocore at 19,35 sized 6,5
	       color=$FFFF0000
	       secondary color=$FF000000
	       highlight color=$FF00FF00
	       text color=$FFFFFFFF
	       text=Restart_BingoCore
	       button is bicolor square
	       font name=Default
	       Allow show on *mngr*
control done

control generic Task at 31,30 sized 8,5
	path=c:\\drivers\\elotouchsystems
	program=elova.exe
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF0800B8
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=ELO touch
	button is bicolor square
	next page=first
	font name=Default
control done

control generic Task at 8,27 sized 5,5
	path=.
	program=c:\\fnetapps\\deletealtdb\\delete-local-altdb-script.bat
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?Yes
	Force Hide Display?No
	security=none
	color=$8000FF00
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Fix POS
	button is bicolor square
	next page=-- NONE --
	font name=Default
	Allow show on *mngr*
control done

control generic Task at 13,5 sized 14,4
	path=c:\\ftn3000\\bincs\\JackMan
	program=JackpotAccrualProcessor.exe
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF00FF00
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Accrual_Processor
	button is bicolor square
	font name=Default
	Allow show on *mngr*
control done

control generic Task at 23,22 sized 7,5
	path=c:\\batch
	program=accruals.bat
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Quit Accruals
	button is bicolor square
	next page=-- NONE --
	font name=Default
	Allow show on *mngr*
control done

control generic page/Page Changer at 23,27 sized 7,4
	color=$FF008000
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Change_Page
	button is bicolor square
	next page=next
	font name=Default
	Allow show on *mngr*
control done

control generic Macro at 8,33 sized 10,6
	Macro Element 'Task'
		path=.
		program=pskill
		args=ntvdm
		launch at 0 by 0
		restart No
		non-exclusive No
		background No
		one time No
		Capture task output?Yes
		Force Hide Display?No
		security=none
		color=$FF000080
		secondary color=$00000000
		highlight color=$00000000
		text color=$FFFFFFFF
		text=Ntvdm Kill
		button is bicolor square
		font name=Default
	macro element done
	Macro Element 'Task'
		path=L:\\payouts\\ftn3000\\working
		program=L:\\payouts\\ftn3000\\bin\\posshell
		launch at 640 by 480
		restart No
		non-exclusive No
		background No
		one time No
		Capture task output?No
		Force Hide Display?No
		security=none
		color=$FF000080
		secondary color=$00000000
		highlight color=$00000000
		text color=$FFFFFFFF
		text=POSPaymaster
		button is bicolor square
		font name=Default
	macro element done
	macro element list done
	color=$FF680024
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=PayMaster
	button is bicolor square
	next page=-- NONE --
	font name=Default
	Allow show on *mngr*
control done

control generic Task at 0,8 sized 8,6
	path=c:\\ftn3000\\bincs\\AgentSalesCustom
	program=AgentSalesCustom.exe
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time Yes
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Agent_Sales
	button is bicolor square
	next page=-- NONE --
	font name=Default
	Allow show on *mngr*
control done

page titled Utilities
page layout 40 by 40
background color $FF002E30
background image seatosky5.jpg
control generic text label at 0,39 sized 9,1
	color=$FFD5D5D5
	background color=$00000000
	align center?off
	align right?off
	align scroll?off
	align vertical?off
	align inverted?off
	font name=versiontracking
	label=%<File ver.1>
control done

control generic Task at 1,11 sized 11,6
	path=@/../../setupunit
	program=setupunit.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Setup Unit
	button is bicolor square
	font name=Default
control done

control generic Task at 1,20 sized 11,5
	path=@/../bin
	program=editusers3.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Edit Users
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic page/Page Changer at 28,31 sized 9,7
	color=$FF008000
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Main_Menu
	button is bicolor square
	next page=first
	font name=Default
control done

control generic Task at 1,3 sized 11,6
	path=c:\\ftn3000\\bincs\\cookieslegacy
	program=cookieslegacy.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$80802E50
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Cookies
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 1,27 sized 11,5
	path=.
	program=c:\\tools\\vnc\\vncviewer.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=VNC
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 31,3 sized 7,5
	path=.
	program="c:\\ftn3000\\tmp\\fix bingocore.bat"
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background No
	one time No
	Capture task output?Yes
	Force Hide Display?No
	security=none
	color=$FF000080
	secondary color=$FF000000
	highlight color=$FF00FF00
	text color=$FFFFFFFF
	text=Fix Bingocore
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 14,3 sized 11,6
	path=@\\..\\..\\..\\bincs\\itemmanager
	program=@\\..\\..\\..\\bincs\\itemmanager\\xperdex.item_manager.bat
	launch at 0 by 0
	restart No
	non-exclusive No
	background Yes
	one time No
	Capture task output?Yes
	Force Hide Display?Yes
	security=none
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Item Management
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 14,11 sized 11,5
	path=\\ftn3000\\bincs\\scheduledesigner2
	program=ScheduleDesigner2.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Schedule Editor 2
	button is bicolor square
	next page=-- NONE --
	font name=Default
control done

control generic Task at 14,27 sized 11,5
	path=@\\..\\..\\..\\bincs\\sessionmanager
	program=@\\..\\..\\..\\bincs\\sessionmanager\\xperdex.session_manager.bat
	launch at 0 by 0
	restart No
	non-exclusive No
	background Yes
	one time No
	Capture task output?Yes
	Force Hide Display?Yes
	security=none
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Session Management
	button is bicolor square
	font name=Default
control done

control generic Task at 14,20 sized 11,5
	path=f:\\ftn3000\\data\\schedule
	program=c:\\ftn3000\\bin\\scheded.exe
	launch at 0 by 0
	restart No
	non-exclusive No
	background No
	one time No
	Capture task output?No
	Force Hide Display?No
	security=none
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Schedule_Editor
	button is bicolor square
	next page=-- NONE -- 
	font name=Default
control done

control generic Task at 28,20 sized 9,4
	path=.
	program=permarun.show.exe
	launch at 0 by 0
	restart No
	non-exclusive Yes
	background Yes
	one time No
	Capture task output?Yes
	Force Hide Display?No
	security=none
	color=$96E97D26
	secondary color=$80000000
	highlight color=$C000FF00
	text color=$FFFFFFFF
	text=Show_Permarun
	button is bicolor square
	next page=-- NONE -- 
	font name=Default
control done

Canvas Done
