__LINUX64__=1
export __LINUX64__
MKCFLAGS+=-D__LINUX64__ -D__64__
MKLDFLAGS+=$(if $(STATIC),$(if $(__NO_SQL__),,-lodbc),)
NO_NASM=1
# remaining code is -fPIC compiled...
# probably an error to do that, however, that 
# means that special magic still has to be done for assembly
#NO_NASM=1

include $(SACK_BASE)/makefiles/makefile.lnx.config

AFLAGS=-f elf64 -i$(CURDIR)/ -i$(SACK_BASE)/include/nasm/ -D__LINUX64__ -D__LINUX__ $(STATFLAGS)
ASM=$(QUIETCMD)yasm -r nasm


