MKLDFLAGS=-L/usr/lib/mingw
MKCFLAGS=-isystem /usr/include/mingw
__CYGWIN__=1

include $(SACK_BASE)/makefiles/makefile.lnx.config

SHLIBEXT=.dll
COMMON_SYS_LIBS=wsock32 opengl32 odbc32 iphlpapi

C_COMMON_FLAGS:=$(filter-out -D__UNIX__ -D__LINUX__,$(C_COMMON_FLAGS)) -D__CYGWIN__ -D__WINDOWS__ -mno-cygwin

$(warning $(C_COMMON_FLAGS))
