__LINUX64__=1
MKCFLAGS+=-D__LINUX64__ -D__64__
CPLUSPLUS_BUILD=1
NO_NASM=1
# remaining code is -fPIC compiled...
# probably an error to do that, however, that 
# means that special magic still has to be done for assembly
#NO_NASM=1

include $(SACK_BASE)/makefiles/makefile.lnx.config

AFLAGS=-f elf64 -i$(CURDIR)/ -i$(SACK_BASE)/include/nasm/ -D__LINUX64__ -D__LINUX__ $(STATFLAGS)
ASM=$(QUIETCMD)yasm -r nasm

ifdef __MAKE_ENV__
 CC=$(QUIETCMD)$(CXX)
else 
 CC=$(QUIETCMD)g++ -c -Wall $(ALIGN) $(C_$(DEST_TYPE)_FLAGS) $(C_COMMON_FLAGS) $(C_DEPEND_FLAGS)
endif

ifdef __LINUX64__
 LD=$(QUIETCMD)g++ -m64 -Wl,--export-dynamic $(MKLDFLAGS) $(LD_$(DEST_TYPE)FLAGS) -lpthread
else
ifdef __MAKE_ENV__
 LD=$(QUIETCMD)$(CXX) -Wl,--export-dynamic $(MKLDFLAGS) $(LD_$(DEST_TYPE)FLAGS) -lpthread
else
 # I would prefer to use the ld tool here (or libtool maybe)
 LD=$(QUIETCMD)g++ -Wl,--export-dynamic $(MKLDFLAGS) $(LD_$(DEST_TYPE)FLAGS) -lpthread
endif
endif
