ifndef CONFIG_FILE_INCLUDED
CONFIG_FILE_INCLUDED=1

# gcc, visual C, lcc
CXFLAGS1+=-DHAVE_ANONYMOUS_STRUCTURES -DHAS_ASSEMBLY
CXFLAGS2+=-DHAVE_ANONYMOUS_STRUCTURES -DHAS_ASSEMBLY
HAVE_NASM=1

ifdef WORDALIGN
ALIGN=/Zp2
else
ALIGN=/Zp1
endif
SYSPATHCHAR:=$(subst \\,\,\\)
PATHCHAR=/
OBJEXT=obj
LIBEXT=.lib
LINK_LIBEXT=.lib
LIBPREFIX=
LIBNAMEPREFIX=
SHLIBEXT=.dll
PROGEXT=.exe
OUTNAMEOPT=/Fo
MAPOUTOPT=/map:
MAKE_DLL_OPT=/dll
LIBPATHOPT=/LIBPATH:
LD_OUTNAMEOPT=/out:
LN_OUTNAMEOPT=/out:
C_DEBUG_FLAGS=/Zi -D_DEBUG /Yd
C_ALL_WARNINGS=/W4
LD_DEBUG_FLAGS=/DEBUG /DEBUGTYPE:cv
LD_RELEASE_FLAGS=/RELEASE

CC=cl /c /nologo /DEMPTY_STRUCT="struct { _8 data[]; }"

LD=link /nologo /LIBPATH:"$(LIB)"
LD_DEF_OPT=/DEF:
AR=lib

AFLAGS=-f win32 -i$(SACK_BASE)/include/nasm/ -D__MSVC__ $(STATFLAGS)
ASM=nasm

RC=rc



endif