CPLUSPLUS_BUILD=1
export CPLUSPLUS_BUILD

include $(SACK_BASE)/makefiles/makefile.lnx.config

ifdef __MAKE_ENV__
 CC=$(QUIETCMD)$(CXX)
else 
 CC=$(QUIETCMD)g++ -c -Wall $(ALIGN) $(C_$(DEST_TYPE)_FLAGS) $(C_COMMON_FLAGS) $(C_DEPEND_FLAGS)
endif

ifdef __LINUX64__
 LD=$(QUIETCMD)g++ -m64 -Wl,--export-dynamic $(MKLDFLAGS) $(LD_$(DEST_TYPE)FLAGS) -lpthread
else
ifdef __MAKE_ENV__
 LD=$(QUIETCMD)$(CXX) -Wl,--export-dynamic $(MKLDFLAGS) $(LD_$(DEST_TYPE)FLAGS) -lpthread
else
 # I would prefer to use the ld tool here (or libtool maybe)
 LD=$(QUIETCMD)g++ -Wl,--export-dynamic $(MKLDFLAGS) $(LD_$(DEST_TYPE)FLAGS) -lpthread
endif
endif
