
# modifies the default CC, CXX, LD and AR rules
# is CC also used for C++ ? why is there no CXX rule?
# also no $(AR) rule for linking archive?
# also by default - the level of warnings is not set as 
# maximal as perhaps it should be....
# 
# maintainence to the common makefile.lnx.config needs to 
# be shared, linux has many goofy rules.
__MAKE_ENV__=1
# okay this is really system dependant and just cause you 
# are making in the environment does not mean you should use
# this flag to support depricated and obsolete libc's.
MKCFLAGS:=$(MKCFLAGS) -D_NO_SEMTIMEDOP_

include $(SACK_BASE)/makefiles/makefile.lnx.config

