NO_ANONYMOUS_STRUCTS=1
CPLUSPLUS_BUILD=1
export CPLUSPLUS_BUILD

include $(SACK_BASE)/makefiles/makefile.wc.config

define CCRULE
	$(QUIETCMD)$(CXX) $(AUTODEP_INFO) $(CPP_FLAGS) $(C_COMMON_FLAGS) $(6) $(5)  $(subst /,\,$(1)) $(subst /,\,$(3)) /fo=$(subst /,\,$(2))
endef


C_RELEASE_FLAGS:=$(filter-out -wcd=111,$(C_RELEASE_FLAGS))
C_COMMON_FLAGS:=$(C_$(DEST_TYPE)_FLAGS) $(MKCFLAGS) -D__OBSCURE_STREAM_INTERNALS  -D_DLL $(if $(STATIC),,-D__SW_BR) -D_MT -D__SW_BM -D__WINDOWS__ -D_WIN32_WINNT=0x0500 \
   $(if $(__NO_GUI__),-D__NO_GUI__,) \
   $(if $(__NO_SQL__),-D__NO_SQL__ -D__NO_OPTIONS__, \
       $(if $(__NO_OPTIONS__),-D__NO_OPTIONS__,)) 
       
       
#       $(if $(FORCE_NO_INTERFACE),-DFORCE_NO_INTERFACE,)

WLINK_EXTRA:=
#library $(if $(STATIC),plib3r,plbrdll)
