round button mono shade
round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


# Begin XML Expirament
# 

page layout 40 by 40
background color $FFD40088
#background image 
control generic StReSS/Sub CanVaS at 10,7 sized 15,11
page layout 108 by 84
background color $FFBC7400
#background image 
control generic Quit POS at 74,50 sized 30,19
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic page/Page Changer at 22,10 sized 34,24
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=Second Subpage
control done

page titled Second Subpage
page layout 108 by 84
background color $FF18A400
background image seatosky5.jpg
control generic page/Page Changer at 22,19 sized 36,27
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=first
control done

Canvas Done
control done

control generic page/Page Changer at 20,21 sized 13,10
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

control generic stress/sub canvas at 2,19 sized 17,14
page layout 40 by 40
background color $8000FF00
#background image 
control generic stress/sub canvas at 7,4 sized 25,23
page layout 40 by 40
background color $80005769
background image images/
control generic page/Page Changer at 4,4 sized 15,13
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=2-1-3
control done

page titled 2-1-2
page layout 40 by 40
background color $FF905EB6
#background image 
control generic page/Page Changer at 20,4 sized 12,10
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=first
control done

page titled 2-1-3
page layout 40 by 40
background color $80676765
#background image 
control generic page/Page Changer at 10,13 sized 11,8
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=2-1-2
control done

Canvas Done
control done

control generic page/Page Changer at 9,28 sized 8,7
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=Sub Canvas Back 2
control done

page titled Sub Canvas Back 2
page layout 40 by 40
#background color $0
background image images/misc/sky.jpg
control generic page/Page Changer at 13,12 sized 13,11
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=first
control done

Canvas Done
control done

page titled Outer second
page layout 40 by 40
background color $FFD4E800
background image seatosky5.jpg
control generic page/Page Changer at 4,14 sized 14,12
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=first
control done

Canvas Done
