round button mono shade
round button glare=
round button up=images/round_ridge_up.png
round button down=images/round_ridge_down.png
round button mask=images/round_mask.png

roune button mono shade
roune button glare=
roune button up=
roune button down=
roune button mask=

square button glare=images/glare.jpg
square button up=images/ridge_up.png
square button down=images/ridge_down.png
square button mask=images/square_mask.png

bicolor square button multi shade
bicolor square button glare=
bicolor square button up=images/defaultLens.png
bicolor square button down=images/pressedLens.png
bicolor square button mask=images/colorLayer.png

DEFAULT button glare=
DEFAULT button up=
DEFAULT button down=
DEFAULT button mask=


# Begin XML Expirament
# 

page layout 40 by 40
#background color $0
#background image 
control generic Stress Button 1(Blink) at 7,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 10,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Quit POS at 6,26 sized 4,4
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic Stress Button 1(Blink) at 13,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 16,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 19,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 22,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 28,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 31,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 34,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 4,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,7 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,12 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 10,16 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 65,47 sized 33,17
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic stress/sub canvas at 24,4 sized 14,14
page layout 108 by 84
#background color $0
#background image 
Canvas Done
control done

control generic stress/sub canvas at 19,19 sized 18,20
page layout 108 by 84
#background color $0
#background image 
control generic Stress Button 1(Blink) at 47,4 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 87,2 sized 17,26
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 50,29 sized 18,13
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 74,28 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 70,52 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic page/Page Changer at 18,65 sized 23,11
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

control generic Quit POS at 12,55 sized 32,10
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic page/Page Changer at 44,66 sized 23,11
color=$80005769
secondary color=$FF000000
text color=$FFFFFFFF
text=Start
button is bicolor square
next page=next
control done

control generic stress/sub canvas at 9,3 sized 14,15
page layout 108 by 84
#background color $0
#background image 
control generic Stress Button 1(Blink) at 7,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 10,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Quit POS at 17,21 sized 3,4
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic Stress Button 1(Blink) at 13,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 16,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 19,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 22,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 28,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 31,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 34,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 4,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,7 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,12 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 10,16 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 65,47 sized 33,17
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

Canvas Done
control done

control generic stress/sub canvas at 24,4 sized 14,14
page layout 108 by 84
#background color $0
#background image 
control generic Stress Button 1(Blink) at 7,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 10,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Quit POS at 17,21 sized 3,4
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic Stress Button 1(Blink) at 13,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 16,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 19,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 22,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 28,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 31,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 34,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 4,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,4 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 1,7 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,12 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 10,16 sized 3,3
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 65,47 sized 33,17
color=$FF000080
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

Canvas Done
control done

control generic stress/sub canvas at 24,4 sized 14,14
page layout 108 by 84
#background color $0
#background image 
Canvas Done
control done

control generic stress/sub canvas at 16,24 sized 14,15
page layout 108 by 84
#background color $0
#background image 
control generic Stress Button 1(Blink) at 7,4 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 50,4 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,25 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 74,28 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 70,52 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic page/Page Changer at 18,65 sized 23,11
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

control generic Quit POS at 11,49 sized 32,10
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic page/Page Changer at 45,63 sized 23,11
color=$80005769
secondary color=$FF000000
text color=$FFFFFFFF
text=Start
button is bicolor square
next page=next
control done

Canvas Done
control done

control generic stress/sub canvas at 16,24 sized 14,15
page layout 108 by 84
#background color $0
#background image 
control generic Stress Button 1(Blink) at 7,4 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 50,4 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 25,25 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 74,28 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 70,52 sized 40,20
color=$8000401D
text color=$FFFFFFFF
text=POS
button is bicolor square
next page=-- NONE --
control done

control generic page/Page Changer at 18,65 sized 23,11
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

control generic Quit POS at 11,49 sized 32,10
color=$FFC02020
secondary color=$FF000000
text color=$FFFFFFFF
text=Quit
button is bicolor square
control done

control generic page/Page Changer at 45,63 sized 23,11
color=$80005769
secondary color=$FF000000
text color=$FFFFFFFF
text=Start
button is bicolor square
next page=next
control done

page titled sub2 page2
page layout 108 by 84
#background color $0
#background image 
control generic page/Page Changer at 42,46 sized 30,13
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=first
control done

Canvas Done
control done

control generic stress/sub canvas at 30,22 sized 9,18
page layout 20 by 20
#background color $0
#background image 
control generic stress/sub canvas at 9,8 sized 9,10
page layout 108 by 84
#background color $0
#background image 
Canvas Done
control done

control generic Banner Message at 2,1 sized 8,5
banner text=Banner Message Here!
banner timeout=0
banner continue=no
banner force delay=no
banner topmost=no
color=$FF000080
text color=$FFFFFFFF
text=Banner
button is bicolor square
next page=-- NONE --
control done

Canvas Done
control done

control generic page/Page Changer at 3,18 sized 4,5
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

page titled second
page layout 40 by 40
#background color $0
#background image 
control generic page/Page Changer at 7,21 sized 5,8
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

page titled Third
page layout 40 by 40
#background color $0
#background image 
control generic Stress Button 1(Blink) at 10,4 sized 6,12
color=$808C1824
text color=$80FFFF00
text=POS
button is square
control done

control generic Stress Button 1(Blink) at 17,9 sized 6,12
color=$808C1824
text color=$80FFFF00
text=POS
button is square
control done

control generic Stress Button 1(Blink) at 24,21 sized 6,12
color=$808C1824
text color=$80FFFF00
text=POS
button is round
control done

control generic Stress Button 1(Blink) at 31,25 sized 6,12
color=$808C1824
text color=$80FFFF00
text=POS
button is bicolor square
control done

control generic page/Page Changer at 7,19 sized 7,5
color=$80266B98
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=next
control done

page titled Last
page layout 40 by 40
#background color $0
#background image 
control generic page/Page Changer at 4,18 sized 8,9
color=$FF008000
secondary color=$FF000000
text color=$FFFFFFFF
text=Change_Page
button is bicolor square
next page=first
control done

control generic Stress Button 1(Blink) at 16,24 sized 5,8
color=$FFD79300
text color=$FFFFFFFF
text=POS
button is DEFAULT
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 21,26 sized 5,8
color=$FFD79300
text color=$FFFFFFFF
text=POS
button is DEFAULT
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 28,22 sized 5,8
color=$FFD79300
text color=$FFFFFFFF
text=POS
button is DEFAULT
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 2,6 sized 5,8
color=$FFD79300
text color=$FFFFFFFF
text=POS
button is DEFAULT
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 7,4 sized 5,8
color=$FFD79300
text color=$FFFFFFFF
text=POS
button is DEFAULT
next page=-- NONE --
control done

control generic Stress Button 1(Blink) at 14,2 sized 5,8
color=$FFD79300
text color=$FFFFFFFF
text=POS
button is DEFAULT
next page=-- NONE --
control done

Canvas Done
control done

Canvas Done
